/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  overflow-x: hidden;
}

header nav {
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
  padding: 1rem;
  transition: all 0.3s ease;
}
header nav ul li:hover {
  background-color: rgb(84, 84, 255);
}
header nav ul li:hover a {
  font-weight: bold;
  color: white;
}
header nav ul li a {
  color: rgb(84, 84, 255);
  text-decoration: none;
}

main section.main-area {
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main section.main-area div.info {
  flex-basis: 450px;
  padding: 1rem;
}
main section.main-area div.info h1 {
  font-size: 3.2rem;
}
main section.main-area div.info h2 {
  font-size: 1.2rem;
}
main section.main-area div.info a {
  color: white;
  background-color: rgb(54, 212, 138);
  padding: 0.25rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  display: inline-block;
  margin-top: 2rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
main section.main-area div.info a:hover {
  transform: scale(1.2);
}
main section.main-area div.myPhoto {
  flex-basis: 450px;
}
main section.main-area div.myPhoto img {
  width: 100%;
}
main section.about-me {
  background-color: rgb(231, 255, 233);
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
}
main section.about-me section.description {
  width: 80%;
  text-align: center;
}
main section.about-me section.description h2 {
  font-size: 2rem;
}
main section.about-me section.description p {
  margin-top: 1rem;
}
main section.about-me section.description .progress-bar-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.about-me section.description .progress-bar-area .features_box {
  list-style: none;
}
main section.about-me section.description .progress-bar-area .features_box li {
  float: left;
  border: 1px solid #dddddd;
  width: 293.3px;
  box-shadow: 0px 4px 4px #dddddd;
  margin: 10px;
}
main section.about-me section.description .progress-bar-area .features_box li:hover {
  border: 1px solid #00cc99;
  box-shadow: 0px 5px 5px #dddddd;
  transition: all 0.5s;
}
main section.about-me section.description .progress-bar-area .features_box li h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
}
main section.about-me section.description .progress-bar-area .features_box li span {
  font-size: 1rem;
  color: gray;
  text-align: justify;
  display: inline-block;
}
main section.about-me section.description .progress-bar-area .features_box li img {
  display: block;
  margin: 0px auto;
}
main section.about-me section.description .progress-bar-area .features_box li a {
  display: block;
  padding: 10px 15px 20px 15px;
  text-decoration: none;
}
main section.about-me section.description .progress-bar-area .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
main section.resume {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}
main section.resume section.table {
  flex: 5 0 500px;
  padding: 2rem;
}
main section.resume section.table table {
  --bs-table-bg: none;
  border-collapse: collapse;
}
main section.resume section.table table tr {
  border-bottom: 2px solid gray;
  transition: all 0.2s ease;
}
main section.resume section.table table tr:hover {
  background-color: rgb(184, 255, 222);
}
main section.resume section.table table tr td {
  padding: 1rem;
}
main section.resume section.picture {
  flex: 1 1 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main section.resume section.picture img {
  width: 80%;
}
main section.resume section.picture div.greenRect {
  width: 30vw;
  height: 90vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 30px;
  left: 80px;
  z-index: -1;
}
main section.resume section.picture div.greenRect2 {
  width: 50vw;
  height: 40vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 300px;
  left: -300px;
  z-index: -1;
}
main section.resume section.picture div.greenRect3 {
  width: 50vw;
  height: 40vh;
  border: 10px solid rgb(195, 255, 200);
  position: absolute;
  top: 0px;
  left: -100px;
  z-index: -1;
}

@media screen and (max-width: 800px) {
  body main section.about-me section.description {
    width: 80%;
  }
  body main section.resume {
    overflow-x: auto;
  }
  body main section.resume section.picture div.greenRect,
  body main section.resume section.picture div.greenRect2,
  body main section.resume section.picture div.greenRect3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  body nav {
    position: static;
  }
  body nav ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */