* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}

html,body {
  height: 750px;  
}

body {
  background-image: url(../IDcardimg/Animalbg.png);
  display: flex;
  align-items: center;
  background-color: rgb(44, 44, 44);
}

.header {
  background-image: url(../IDcardimg/titlebg.png);
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 70px;
  z-index: 5;
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.3);
  white-space: nowrap;
}

.header img {
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(2px 1px 2px rgba(0, 0, 0, 0.4));
}

.header_Title {
  display: inline-block;
  margin-top: 10px;
}

.box {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* 人物選取框 */
.item {
  width: 280px;
  margin: 15px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: 0.5s;
  position: relative;
}

.item img {
  max-width: 100%;
  border-radius: 20px;
  vertical-align: middle;
}

.item h2 {
  padding-bottom: 0.3em;
  margin-bottom: 0.4em;
  font-weight: 900;
  transition: 0.25s;
}

.item p {
  line-height: 1.6;
  font-weight: 300;
  transition: 0.25s;
}

.item .txt {
  padding: 20px;
  position: relative;
}

/* 利用偽元素繪製倒三角與製作滑入特效 */
.item .txt::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 50px solid transparent;
  border-left: 134px solid #fff;
  border-right: 134px solid #fff;
  transform: translateY(-99%);
}

.item:hover {
  transform: translateY(-10%);
}

.item:hover h2 {
  color: white;
}

.item:hover p {
  color: white;
}

.item:hover .txt {
  border-radius: 0 0 20px 20px;
  background-image: linear-gradient(0deg, rgb(0, 132, 255), rgb(79, 170, 255));
}

.item:hover .txt::before {
  border-left: 134px solid rgb(79, 170, 255);
  border-right: 134px solid rgb(79, 170, 255);
}
