* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-image: url(jayimg/bkbg01.png),
                    url(jayimg/bkbg02.png),
                    url(jayimg/bkbg03.png),
                    url(jayimg/abg.png);
  background-repeat: no-repeat,
                     no-repeat,
                     no-repeat,
                     repeat;
  background-position: top center,
                       center,
                       bottom center,
                       left;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.bgimg01 img{
  max-width:100%;
  /* margin-left: auto;
  margin-right: auto; */
}
.banner {
  display: block;
  position: relative;
  overflow: visible;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
}

.outsideup {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  text-align: center;
  margin: 0px auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 0px 2px rgba(0, 0, 0, 0.3);
}

.outsidedw {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  margin: 0px auto;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.3);
}

.outsidecon {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  margin: 0px auto;
}

.banner img {
  max-width: 100%;
}

.content {
  background-image: url(jayimg/bg.png);
  background-repeat: repeat;
  position: relative;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 0 0;
}

.content img {
  width: 400px;
  height: auto;
  float: left;
}

.content pre {
  display: block;
  text-align: left;
  color: #ac3e1e;
  font-family: "Noto Sans TC", sans-serif;
}

.carint {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-align: center;
  filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.3));
}

.character {
  background-image: url(jayimg/bg.png);
  background-repeat: repeat;
  position: relative;
  text-align: center;
  width: 850px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  border-radius: 0 0 10px 10px;
}

.character li {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  width: 120px;
  height: 120px;
  transition: width 0.6s, height 0.6s, margin-top 0.6s;
  overflow: hidden;
  margin-top: 30px;
}

.character li:hover {
  margin-top: -0px;
  width: 150px;
  height: 150px;
}

.character img {
  width: 100%;
  height: 100%;
}

.character li.sec {
  margin-top: -0px;
  width: 135px;
  height: 135px;
}

.caridt {
  background-image: url(jayimg/bg02.png);
  margin-top: 10px;
  border-radius: 10px;
}

.caridt img {
  vertical-align: bottom;
}

.gotop {
  background-image: url(jayimg/gotop01.png);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 90;
  right: 10px;
  bottom: 31px;
  display: none;
  width: 50px;
  height: 105px;
  text-align: center;
  transition: height 0.5s;
}

.gotop:hover {
  background-image: url(jayimg/gotop02.png);
  background-repeat: no-repeat;
  cursor: pointer;
  height: 150px;
  transition: height 0.5s;
}

.vdio{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.vdio .vediotitle{
  width: auto;
  height: 226px;
  margin-top: 10px;

} 

.vdio .vdioin{
  background-image: url(jayimg/vdiobg.png);
  background-repeat: no-repeat;
  background-position:bottom;
  width: 1024px;
  height: 680px;
}

.vdio video{
  display: block;
  width: 720px;
  height: auto;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
}

.endnotice{
  display: flex;
  justify-content: center;
  white-space:nowrap;
  margin-top: 15px;
}

.footerbox{
  display: flex;
  justify-content: center;
  align-items: center;  
  background:rgba(113,110,119,1)
  width: 1000px;
  clear: both;
}